<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
    <script src="/static/js/jquery-1.12.0.min.js"></script>
    <script src="/static/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
        selector: 'textarea',
        language: 'zh_CN',
        automatic_uploads: false,
        images_upload_url: '/admin/blog/uploadImage',
        plugins: "image imagetools paste",
        images_upload_credentials: true,
        paste_data_images: true,
    });</script>
    <script type="text/javascript">
        $(function () {

        })
    </script>
    <style type="text/css">
        #content {
            height: 500px;
        }
    </style>
</head>
<body>
<form method="post"  action="/admin/activity/edit">
    标题 <input type="text" name="caption" id="caption" value="{$activity.caption}"/><br/>
    地点<input type="text" name="location" id="location" value="{$activity.location}"/><br/>
    开始时间<input type="datetime" name="datestart" id="datestart" value="{$activity.start}"/><br/>
    结束时间<input type="datetime" name="dateend" id="dateend" value="{$activity.end}"/><br/>
    价格<input type="number" name="price" id="price" value="{$activity.price}"/><br/>
    <textarea name="content" id="content">{$activity.content}</textarea><br/>
    <input type="submit" value="保存"/>
</form>

</body>
</html>