{extend name="public:base"/}

{block name="title"}
管理
{/block}

{block name="tab"}overall_page{/block}

{block name="header"}
<script>
    $(function(){
        $("#submit").click(function()
        {
            var data = new FormData($("#form-config")[0]);

            $.ajax({
                url:"/admin/index/index",
                data: data,
                type: "POST",
                dataType: "json",
                contentType: false,
                processData: false,
                success:function(data)
                {
                    switch (data.result) {
                        case 0:
                            showMessage("保存成功", 0);
                            break;
                        case -1:
                            showMessage("保存失败", 1);
                            break;
                    }
                },
                error: function(data){
                    showMessage("保存失败", 1);
                }

            })
        });
    });
</script>
{/block}
{block name="content"}
<div class="content">
</div>
{/block}
