<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
    <style type="text/css">
        div {
            border: green 1px solid;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h1>Console:<small>welcome Joey</small></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
        <div class="col-sm-1">col-sm-1</div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-2">col-sm-4 col-md-2</div>
        <div class="col-sm-4 col-md-4">col-sm-4 col-md-4</div>
        <div class="col-sm-4 col-md-6">col-sm-4 col-md-6</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3">Resize your view port or check it out on your phone for an example</div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3 </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3 </div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3 </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    col-md-3
                </div>
                <div class="col-md-9">
                    col-md-9
                </div>
            </div>
        </div>
        <div class="col-md-6">
            col-md-6
        </div>
    </div>
    <p>this is <mark>first</mark> paragraph</p>
    <p class="lead">this is <del>second</del> paragraph</p>
    <p>this is third paragraph</p>
    <p>this is forth paragraph</p>
    <code>
        int i = 0;<br>
        i++;
    </code>
    <kbd><kbd>ctrl</kbd><kbd>+</kbd>v</kbd>
    <blockquote>
        <p>this is a blockquote element</p>
    </blockquote>
    <pre>
        int i = 0;
        i++;
        printf("%d", i);</pre>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <td><strong>#</strong></td>
            <td><strong>First Name</strong></td>
            <td><strong>Second Name</strong></td>
        </thead>
        <tbody>
            <tr class="active">
                <td><strong>1</strong></td>
                <td>Active</td>
                <td>Yu</td>
            </tr>
            <tr class="success">
                <td><strong>2</strong></td>
                <td>Success</td>
                <td>Yu</td>
            </tr>
            <tr class="warning">
                <td><strong>3</strong></td>
                <td>Warning</td>
                <td>Yu</td>
            </tr>
            <tr class="info">
                <td><strong>4</strong></td>
                <td>info</td>
                <td>Yu</td>
            </tr>
            <tr class="danger">
                <td><strong>5</strong></td>
                <td>danger</td>
                <td>Yu</td>
            </tr>
        </tbody>
    </table>
    <ul class="list-inline">
        <li><a href="/admin/Blog/index">游记</a></li>
        <li><a href="/admin/activity/index">活动</a></li>
    </ul>
</div>
</body>
</html>