{extend name="public:base" /}

{block name="title"}活动{/block}

{block name="tab"}destinations{/block}

{block name="header"}
{/block}

{block name="content"}
<div class="container">
    <ol class="breadcrumb">
        <li class="active">全部活动</li>
    </ol>


    {foreach name="activities" item="activity"}
        {if condition="$key%3 eq '0'"}
    <div class="destintn-grids">
        {/if}
        <div class="col-md-4 desti-grid">
            <a href="/index/activity/view?id={$activity.id}" ><img class="example-image" src="/{$activity.cover}" alt=""/></a>
            <div class="desti-info">
                <h5><a href="/index/activity/view?id={$activity.id}"><span>#{$activity.start|date="n月j号",###}#</span>{$activity.caption}</a></h5>
            </div>
        </div>
        {if condition="$key%3 eq '2'"}
            <div class="clearfix"></div>
        </div>
        {/if}
    {/foreach}

    <?php if(count($activities)%3 != 0) echo "<div class='clearfix'></div></div>"?>
    <div class="text-center">
    {$page}
    </div>
</div>

{/block}