{extend name="public:base" /}

{block name="title"}徒步天涯户外俱乐部-{$activity.caption}{/block}

{block name="tab"}destinations{/block}

{block name="header"}
<style>
    .activity-content img
    {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

</style>

<script type="text/javascript">
    $(function(){
    });
</script>
{/block}
{block name="content"}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/index/activity/">全部活动</a></li>
        <li class="active">{$activity.caption}</li>
    </ol>
    <div class="row">
        <main class="col-md-8 activity-main">
            <h1 class="activity-caption">{$activity.caption}</h1>
            <br/>
            <div class="activity-details">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="activity-attr">
                            <label>活动地点：</label>
                            <span>{$activity.location}</span>
                        </div>
                        <div class="activity-attr">
                            <label>集合地点：</label>
                            <span>{$activity.gather_location}</span>
                        </div>
                        <div class="activity-attr">
                            <label>住宿方式：</label>
                            <span>{$activity.sleep_style}</span>
                        </div>
                        <div class="activity-attr">
                            <label>价格：</label>
                            <span>{$activity.price}</span>
                        </div>
                        <div class="activity-attr">
                            <label>活动领队：</label>
                            <span>{$activity.leaders}</span>
                        </div>
                        <div class="activity-attr">
                            <label>开始时间：</label>
                            <span>{$activity.start|date="n月j号",###}</span>
                        </div>
                        <div class="activity-attr">
                            <label>结束时间：</label>
                            <span>{$activity.end|date="n月j号",###}</span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="activity-attr">
                            <label>难度指数：</label>
                            <span><?php echo str_repeat("★", $activity->difficulty);?></span>
                        </div>
                        <div class="activity-attr">
                            <label>强度指数：</label>
                            <span><?php echo str_repeat("★", $activity->strength);?></span>
                        </div>
                        <div class="activity-attr">
                            <label>危险指数：</label>
                            <span><?php echo str_repeat("★", $activity->danger);?></span>
                        </div>
                        <div class="activity-attr">
                            <label>风景指数：</label>
                            <span><?php echo str_repeat("★", $activity->view);?></span>
                        </div>
                    </div>
                </div>
                <br/>
                <button class="btn btn-primary" id="order-now" data-toggle="modal" data-target="#order-now-dialog">现在报名</button>
            </div>
            <br/>
            <hr/>
            <div class="activity-content">
                {$activity.content}
            </div>
        </main>
        <aside class="col-md-4 activity-aside">
            <div class="widget">
                <h4 class="title">社区</h4>
                <p>QQ群：53446033</p>
            </div>

            <div class="widget">
                <h4 class="title">活动推荐</h4>
                {foreach name="featuredActivities" item="activity"}
                <p><a href="/index/activity/view?id={$activity.id}">#{$activity.start|date="n月j号",###}# {$activity.caption}</a></p>
                {/foreach}
            </div>
        </aside>
    </div>
</div>


<!--dialogs-->
<div class="modal fade" id="order-now-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div style="margin: 20px">
                <h3>在线预约系统开发中...</h3>
                <p class="text-info">在线预约系统正在开发中，在此期间请通过QQ群53446033报名。</p>
            </div>
        </div>
    </div>
</div>
{/block}