.index-bg
{
    background:#f9f9f9;
}

.content-bg
{
    background: white;
}

.center
{
    text-align: center;
}

.recommend-activity
{
    margin-top: 20px;
    padding-bottom: 20px;
    background: white;
}

.activity-list-item{
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 30px;
    max-width: 375px;
    margin: 0 auto 30px;
    background: white;
    padding-bottom: 10px;
}

.activity-list-item > a
{
    font-size:1.2em;
    color: gray;
}

.activity-list-item > a:hover
{
    color: green;
}

.activity-list-item > a > img
{
    max-width: 100%;!important;
    height: auto;!important;;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.text-activity-value {
    color: #f60;
    font-size:1.2em;
}

.text-label {
    color:gray;
    font-size: 1.2em;
}

.blog-entry-img
{
    width:100%;
    height:auto;
    padding: 0px;
}

.blog-entry-caption > a
{
    #color: #73eac4;
}

@media (max-width: 767px) {
    .blog-entry-caption {
        font-size: 1.5em;
        text-align: center;
        margin-top: 10px;
    }
}
