.index-bg
{
    background:#f9f9f9;
}

.content-bg
{
    background: white;
}

.center
{
    text-align: center;
}

.recommend-activity
{
    margin-top: 20px;
    padding-bottom: 20px;
    background: white;
}

.activity-list-item{
    text-align: center;
    border-radius: 10px;
    margin: 0 auto 30px;
    max-width: 375px;
    margin: 0 auto 30px;
    background: white;
    padding-bottom: 10px;
}

.activity-list-item > a
{
    font-size:1.2em;
    color: black;
}

.activity-list-item > a:hover
{
    color: green;;
}

.activity-list-item > a > img
{
    max-width: 100%;!important;
    height: auto;!important;;
    margin-bottom: 10px;
}