{extend name="public:base" /}

{block name="title"}徒步天涯户外俱乐部{/block}

{block name="tab"}index{/block}

{block name="header"}
{/block}

{block name="content"}

<!---->
<div class="banner">
     <div class="container">
         <div class="banner-grids">
         </div>
     </div>
</div>
<!---->
<div class="welcome">
     <div class="container">
         <div class="welcome-grids">
              <div class="col-md-6 welcm-pic">
                 <img src="/static/images/wel.jpg" class="img-responsive" alt=""/>
              </div>
              <div class="col-md-6 wel-info">
                 <h2>嗨！很高兴遇见你</h2>
                 <h4>想必正是因为有你们,才会觉得生活如此不枯燥,甚至有点小乐趣.很高兴能够遇到你们</h4>
                 <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. Basmodi temporant, voluptaquisquam estqui dolorem ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.Unicmquam eius, Basmodi temurer sehsMunim</p>
              </div>
              <div class="clearfix"></div>
         </div>
     </div>
</div>
<div class="choose">
     <h3>选择我们</h3>
     <div class="container">         
         <div class="choos-girds">
             <div class="col-md-4 choos-grid">
                 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                 <h4>愉快</h4>
                 <p>Aliquam erat volutpat. Sed laoreet mattis justo ut imperdiet. Nunc a suscipit mauris. Praesent suscipit, metus sit amet feugiat hendrerit, enim lacinia velit eros sed massa.</p>
             </div>
             <div class="col-md-4 choos-grid">
                 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                 <h4>放心</h4>
                 <p>Aliquam erat volutpat. Sed laoreet mattis justo ut imperdiet. Nunc a suscipit mauris. Praesent suscipit, metus sit amet feugiat hendrerit, enim lacinia velit eros sed massa.</p>
             </div>
             <div class="col-md-4 choos-grid">
                 <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                 <h4>可靠</h4>
                 <p>Aliquam erat volutpat. Sed laoreet mattis justo ut imperdiet. Nunc a suscipit mauris. Praesent suscipit, metus sit amet feugiat hendrerit, enim lacinia velit eros sed massa.</p>
             </div>
             <div class="clearfix"></div>
         </div>
     </div>
</div>
<!---->
<div class="testimonal">
     <div class="container">
         <div class="testi-top">
             <h3>我们的愿景</h3>
             <p>从五湖四海，我们相聚到了这里。</p>
         </div>
         <div class="testi-slider">
         
         <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                          // Slideshow 4
                          $("#slider2").responsiveSlides({
                            auto: true,
                            pager: true,
                            nav: false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                              $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                              $('.events').append("<li>after event fired.</li>");
                            }
                          });
                    
                        });
         </script>
         <div  id="top" class="callbacks_container">
             <ul class="rslides" id="slider2">
                  <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/t1.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">                                
                                <p><span>"</span> Lorem ipsum dolor sit amet consec tetuer adi piscing elit Praesent vestibulum 
                                    piscing voluptatem accusantium doloremque laudantium elerisque ipsum Nunc a suscipit mauris. Praesent suscipit, metus sit amet feugiat hendrerit, enim lacinia velit eros sed massa. In vulputate justo in vitae lacus vehicula pharetra elit Praesent vestibulum lacus<span>"</span>
                                </p>
                                <h5>遗忘</h5>
                                <h6>创始人</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                  </li>
                  <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/t3.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">
                                <p><span>"</span> Lorem ipsum dolor sit amet consec tetuer adi piscing elit Praesent vestibulum 
                                    piscing voluptatem Nunc a suscipit mauris. Praesent suscipit, metus sit amet feugiat hendrerit, enim lacinia velit eros sed massa. In vulputate justo in vitae lacus accusantium doloremque laudantium elerisque ipsum vehicula pharetra elit Praesent vestibulum lacus<span>"</span>
                                </p>
                                <h5>寒冰</h5>
                                <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                  </li>
                  <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/t2.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">                                
                                <p><span>"</span> Lorem ipsum dolor sit amet consec tetuer adi piscing elit Praesent vestibulum 
                                    piscing voluptatem accusantium doloremque laudantium elerisque ipsum Nunc a suscipit mauris. Praesent suscipit, metus sit amet feugiat hendrerit, enim lacinia velit eros sed massa. In vulputate justo in vitae lacus vehicula pharetra elit Praesent vestibulum lacus<span>"</span>
                                </p>
                                <h5>过客</h5>
                                <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                  </li>
             </ul>
          </div>
          </div>
     </div>
</div>
<!---->
<div id="destination" class="destination">
     <div class="container">
         <div class="destination-top">
             <h3>近期活动</h3>
             <p>可有可无的前边的一段留白，希望尽量的能够撰写一些有意义的东西放到这里。这里的下面将会放置近期的活动。</p>
         </div>
         <div class="destintn-grids">
             <div class="col-md-4 desti-grid">
                 <a class="example-image-link" href="/static/images/d1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="/static/images/d1.jpg" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="#">第一个活动</a></h5>
                     <p>Aliquam sagittis nunc eu nibh feugiat, ac bibendum massa feugiat. Class aptent taciti sociosqu ad litora torquent nostra.</p>
                 </div>
             </div>
             <div class="col-md-4 desti-grid">
                   <a class="example-image-link" href="/static/images/d2.jpg" data-lightbox="example-set"><img class="example-image" src="/static/images/d2.jpg" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="#">第二个活动</a></h5>
                     <p>Aliquam sagittis nunc eu nibh feugiat, ac bibendum massa feugiat. Class aptent taciti sociosqu ad litora torquent nostra.</p>
                 </div>
             </div>
             <div class="col-md-4 desti-grid">
                 <a class="example-image-link" href="/static/images/d3.jpg" data-lightbox="example-set"><img class="example-image" src="/static/images/d3.jpg" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="#">第三个活动</a></h5>
                     <p>Aliquam sagittis nunc eu nibh feugiat, ac bibendum massa feugiat. Class aptent taciti sociosqu ad litora torquent nostra.</p>
                 </div>
             </div>
             <div class="clearfix"></div>
         </div>
         <div class="destintn-grids">
             <div class="col-md-4 desti-grid">
                 <a class="example-image-link" href="/static/images/d4.jpg" data-lightbox="example-set"><img class="example-image" src="/static/images/d4.jpg" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="#">第四个活动</a></h5>
                     <p>Aliquam sagittis nunc eu nibh feugiat, ac bibendum massa feugiat. Class aptent taciti sociosqu ad litora torquent nostra.</p>
                 </div>
             </div>
             <div class="col-md-4 desti-grid">
                 <a class="example-image-link" href="/static/images/d5.jpg" data-lightbox="example-set"><img class="example-image" src="/static/images/d5.jpg" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="#">第五个活动</a></h5>
                     <p>Aliquam sagittis nunc eu nibh feugiat, ac bibendum massa feugiat. Class aptent taciti sociosqu ad litora torquent nostra.</p>
                 </div>
             </div>
             <div class="col-md-4 desti-grid">
                 <a class="example-image-link" href="/static/images/d6.jpg" data-lightbox="example-set"><img class="example-image" src="/static/images/d6.jpg" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="#">第六个活动</a></h5>
                     <p>Aliquam sagittis nunc eu nibh feugiat, ac bibendum massa feugiat. Class aptent taciti sociosqu ad litora torquent nostra.</p>
                 </div>
             </div>
             <div class="clearfix"></div>
         </div>
     </div>
</div>

{/block}