{extend name="public:base" /}

{block name="title"}徒步天涯户外俱乐部{/block}

{block name="tab"}index{/block}

{block name="header"}
{/block}

{block name="content"}

<!---->
<div class="banner">
     <div class="container">
         <div class="banner-grids">
         </div>
     </div>
</div>
<!---->
<div class="welcome">
     <div class="container">
         <div class="welcome-grids">
              <div class="col-md-6 welcm-pic">
                 <img src="/static/images/wel.jpg" class="img-responsive" alt=""/>
              </div>
              <div class="col-md-6 wel-info">
                 <h2>嗨！很高兴遇见你</h2>
                 <br/>
                 <p>“凡是遥远的地方，对我们都有一种诱惑，不是诱惑与美丽，就是诱惑于传说，即使远方的风景并不尽如人意我们也无需在乎，因为这是在是一个迷人的错，仰首是春，俯首是秋，愿所有的幸福都追随者你，月园是画，月缺是诗。”</p>
                  <br/>
                  <p>旅行， 汪国真</p>
              </div>
              <div class="clearfix"></div>
         </div>
     </div>
</div>
<div class="choose">
     <h3>加入我们</h3>
     <div class="container">         
         <div class="choos-girds">
             <div class="col-md-4 choos-grid">
                 <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                 <h4>愉快</h4>
                 <p>说出来你可能不信，我们真的是一群“无可救药”的逗比，如果你善于给别人带来快乐，那么你会发现这里有你的很多知己。</p>
             </div>
             <div class="col-md-4 choos-grid">
                 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                 <h4>可靠</h4>
                 <p>这里有身经百战的领队，这里有乐于助人的老驴，是的，我们不去维护完善的景区，但是每一次出行我们确认100%的安全。</p>
             </div>
             <div class="col-md-4 choos-grid">
                 <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                 <h4>便宜</h4>
                 <p>对，还有价格谁比我们低，你告诉遗忘，“老大，真的不能再降价了啊！（我也不知道为什么到这里话风变成了这样）”。</p>
             </div>
             <div class="clearfix"></div>
         </div>
     </div>
</div>
<!---->
<div class="testimonal">
     <div class="container">
         <div class="testi-top">
             <h3>领队寄语</h3>
             <p>在路上，我们在乎的不仅仅是沿途的风景，还有跟你一起的人，或许你想知道他们是怎样的一群人（逗比）。</p>
         </div>
         <div class="testi-slider">
         
         <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                          // Slideshow 4
                          $("#slider2").responsiveSlides({
                            auto: true,
                            pager: true,
                            nav: false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                              $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                              $('.events').append("<li>after event fired.</li>");
                            }
                          });
                    
                        });
         </script>
         <div  id="top" class="callbacks_container">
             <ul class="rslides" id="slider2">
                  <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/yiwang.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">                                
                                <p><span>"</span>山大王说他很帅，随便从相册里面找一张就好了，我就从相册里面随便找了一张作为他的头像，我觉得看手机这张很diao，哦，他并有什么介绍，他急着跟别人撸串抛下我就跑了，我现在很凌乱。<span>"</span>
                                </p>
                                <h5>遗忘</h5>
                                <h6>山大王</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                  </li>
                  <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/soap.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">
                                <p><span>"</span> 放下手机，背起背包，穿行在风中，让自己置身于大自然的怀抱，享受那最原始的风景；清空脑海里中的纷繁，远离喧嚣浮躁的城市，隐没于绵绵群山，给自己一分久违的安静，让心灵有个短暂的休憩。<span>"</span>
                                </p>
                                <h5>寒冰</h5>
                                <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                  </li>
                 <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/dapang.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">
                             <p><span>"</span>妹子  要看手相吗？（看得出大胖是个情商很低的流氓，在这里肆无忌惮的招揽生意，我相信有稍微有点智商的人都不会上当，我真的没有在说你犀牛。）<span>"</span>
                             </p>
                             <h5>大胖</h5>
                             <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                 </li>
                 <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/apple.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">
                             <p><span>"</span> 喜欢徒步的人 不一定爱上的都是风景， 有时徒步是一种感情的释放和发泄，有人说，不爱徒步的人就是不解风情的人。其实，人爱上的不是单一的徒步，而是背起背包，将心事一点点丢失在路途中。<span>"</span>
                             </p>
                             <h5>Apple</h5>
                             <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                 </li>
                  <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/guoke.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">                                
                                <p><span>"</span> 我没有什么文化，当九五二七让我把我对户外的一些感想告诉他的时候，我说让他随便抄一段，但是他并不是那么随便的人，所以他就没有抄，这是他的原创。他就是这么一个助人为乐的BOY。<span>"</span>
                                </p>
                                <h5>过客</h5>
                                <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                  </li>
                 <li>
                     <div class="testimonial-grids">
                         <div class="testimonial-left">
                             <img src="/static/images/9527.jpg" alt="" />
                         </div>
                         <div class="testimonial-right">
                             <p><span>"</span>过客没有什么文化，当我让他把他对户外的一些感想告诉我的时候，他说让我随便抄一段，但是我并不是那么随便的人，所以我就没有抄，这是原创。不用感谢我，我就是这么一个助人为乐的BOY。<span>"</span>
                             </p>
                             <h5>九五二七</h5>
                             <h6>领队</h6>
                         </div>
                         <div class="clearfix"> </div>
                     </div>
                 </li>
             </ul>
          </div>
          </div>
     </div>
</div>
<!---->
<div id="destination" class="destination">
     <div class="container">
         <div class="destination-top">
             <h3>近期活动</h3>
             <p>下面是我们近期的活动，如果有时间，我们很高兴你能加入我们。</p>
         </div>
         {foreach name="featuredactivity" item="activity"}
         {if condition="$key%3 eq '0'"}
         <div class="destintn-grids">
             {/if}
             <div class="col-md-4 desti-grid">
                 <a href="/index/activity/view?id={$activity.id}"><img class="example-image" src="{$activity.cover}" alt=""/></a>
                 <div class="desti-info">
                     <h5><a href="/index/activity/view?id={$activity.id}"><span>#{$activity.start|date="n月j号",###}#</span>{$activity.caption}</a></h5>
                 </div>
             </div>
             {if condition="$key%3 eq '2'"}
             <div class="clearfix"></div>
         </div>
         {/if}
         {/foreach}

         <?php if(count($featuredactivity)%3 != 0) echo "<div class='clearfix'></div></div>"?>
     </div>
</div>

{/block}