{extend name="public:base" /}

{block name="title"}主页{/block}

{block name="tab"}page_index{/block}

{block name="header"}
{/block}

{block name="content"}

<div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="{$config.home_carousel_link1}"><img class="carousel_img" src="/{$config.home_carousel_img1}"/></a>
            </div>
            <div class="item">
                <a href="{$config.home_carousel_link2}"><img class="carousel_img" src="/{$config.home_carousel_img2}"/></a>
            </div>
            <div class="item">
                <a href="{$config.home_carousel_link3}"><img class="carousel_img" src="/{$config.home_carousel_img3}"/></a>
            </div>
        </div>
    </div>
</div>

<h2 class="index-activity-title center">活动推荐</h2>
<div class="container recommend-activity">
    <div>
        {foreach name="featuredactivity" item="activity"}
        {if condition="$key%3 eq '0'"}
        <div class="row text-center">
            {/if}
            <div class="col-sm-4">
                <div class="activity-list-item">
                    <a href="/index/activity/view?id={$activity.id}"><img src="/{$activity.cover}"/></a>
                    <a href="/index/activity/view?id={$activity.id}"><span>[{$activity.start|date="n月j号",###}] </span>{$activity.caption}</a>
                    <span></span>
                </div>
            </div>
            {if condition="$key%3 eq '2'"}
        </div>
        {/if}
        {/foreach}
    </div>
    <a href="/index/activity/" class="pull-right a-see-more-activity">更多活动</a>
</div>

<div class="container">
    <h1 class="index-blog-title center ">精彩游记</h1>
    <div class="row">
        {foreach name="featuredBlog" item="blog"}
        <div class="blog-entry ">
            {if condition="$key%2 eq 0"}
            <div class="col-md-6 col-sm-6 blog-entry-img-column">
                <a href="/index/blog/view?id={$blog.id}"> <img class="img-rounded blog-entry-img center-block" src="/{$blog.cover}"/></a>
            </div>
            <div class="col-md-6 col-sm-6">
                <div>
                    <h2 class="blog-entry-caption"><a href="/index/blog/view?id={$blog.id}">{$blog.caption}</a></h2>
                    <h3 class="hidden-xs blog-entry-author">BY {$blog.author}</h3>
                    <h3 class="hidden-sm hidden-xs blog-entry-date"><span style="color:red;"> @</span> {$blog.createtime|date="n月j号",###}</h3>
                </div>
            </div>
            {else /}
            <div class="col-md-6 col-sm-6 blog-entry-desc-column-right">
                <div>
                    <h2 class="blog-entry-caption"><a href="/index/blog/view?id={$blog.id}">{$blog.caption}</a></h2>
                    <h3 class="hidden-xs blog-entry-author">BY {$blog.author}</h3>
                    <h3 class="hidden-sm hidden-xs blog-entry-date"><span style="color:red;">@</span> {$blog.createtime|date="n月j号",###}</h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 blog-entry-img-column-right">
                <a href="/index/blog/view?id={$blog.id}"> <img class="img-rounded blog-entry-img center-block" src="/{$blog.cover}"/></a>
            </div>
            {/if}
            <div class="clearfix"></div>
        </div>

        {/foreach}
    </div>
    <a href="/index/blog/" class="pull-right a-see-more-blog">更多游记</a>
</div>

{/block}