{extend name="public:base" /}

{block name="title"}BLOG{/block}

{block name="tab"}blog{/block}

{block name="header"}
{/block}

{block name="content"}
<div class="container">
    <ol class="breadcrumb">
        <li>BLOG</li>
    </ol>
    <div class="row">
        <main class="col-md-8 blog-main">
            <section class="blog-list-featured">
                <h3 class="title">置顶</h3>
                {foreach name="featuredblogs" item="blog"}
                    {switch name="blog.type"}
                        {case value="0"}<h4 class="blog-article"><a href="/index/blog/view?id={$blog.id}">[游记]  {$blog.caption}</a></h4>{/case}
                        {case value="1"}<h4 class="blog-statement"><a href="/index/blog/view?id={$blog.id}">[公告]  {$blog.caption}</a></h4>{/case}
                    {/switch}
                {/foreach}
            </section>

            <section class="blog-list">
                <hr/>
                {foreach name="blogs" item="blog"}
                {switch name="blog.type"}
                {case value="0"}<h4 class="blog-article"><a href="/index/blog/view?id={$blog.id}">[游记]  {$blog.caption}</a></h4>{/case}
                {case value="1"}<h4 class="blog-statement"><a href="/index/blog/view?id={$blog.id}">[公告]  {$blog.caption}</a></h4>{/case}
                {/switch}
                {/foreach}
                <div class="text-center">
                    {$page}
                </div>
            </section>
        </main>
        <aside class="col-md-4 activity-aside">
            <div class="widget">
                <h4 class="title">社区</h4>
                <p>QQ群：53446033</p>
            </div>

            <div class="widget">
                <h4 class="title">活动推荐</h4>
                {foreach name="featuredActivities" item="activity"}
                <p><a href="/index/activity/view?id={$activity.id}">#{$activity.start|date="n月j号",###}# {$activity.caption}</a></p>
                {/foreach}
            </div>
        </aside>
    </div>
</div>
{/block}