{extend name="public:base" /}

{block name="title"}活动{/block}

{block name="tab"}page_blog{/block}

{block name="header"}
{/block}

{block name="content"}
<div class="container">
    <ol class="breadcrumb">
        <li class="active">全部游记</li>
    </ol>
    <div>
        <div class="row center-block">
            <div class="col-md-6">
                <img class="pull-left" src="holder.js/300x150"/>
                <div>
                    <span class="text-info">九五二七的贡嘎游记</span>
                </div>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
            <div class="col-md-6 center-block">
                <img class="pull-left" src="holder.js/300x150"/>
                <div>
                    <span>Media heading</span>
                </div>
            </div>
    </div>

</div>
{/block}