{extend name="public:base"/}

{block name="title"}编辑游记{/block}

{block name="header"}
<script src="/static/js/tinymce/tinymce.min.js"></script>

<script type="text/javascript">
    $(function () {

        {include file="public/tinymce"/}
        $("#content").show();
        //  register cover preview
        function viewImage(file){
            if(file != undefined)
            {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    $("#coverpreview").attr("src", evt.target.result);
                }
                reader.readAsDataURL(file);
            }
            else
            {
                $("#coverpreview").attr("src", "");
            }
        }

        $("#cover").on("change", function(){
            viewImage(this.files[0]);
        });

        $("#btn_save").click(function(){
            tinymce.triggerSave();
            var data = new FormData($("#form_blog")[0])

            $.ajax(
                {
                    url: "/admin/blog/create",
                    data: data,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        switch (data.result) {
                            case 0:
                                showMessage("保存成功", 0);
                                $("#activity_id").val(data.id);
                                break;
                            case -1:
                                showMessage("保存失败", 1);
                                break;
                        }
                    },
                    error : function (data)
                    {
                        showMessage("保存失败", 1);
                    }

                }
            )
        });
    });
</script>
{/block}

{block name="tab"}manage_blog{/block}

{block name="content"}
<div class="content " style="position: relative;">
    <ol class="breadcrumb">
        <li><a href="/admin/blog/">管理游记</a></li>
        <li>编辑</li>
    </ol>
    <form method="post"  action="/admin/blog/create"  id="form_blog">
        <input type="hidden" name="id" id="blog_id" value="{$blog.id}"/>
        <div class="form-group">
            <label for="caption">标题</label>
            <input type="text" class="form-control" id="caption" name="caption" placeholder="标题" value="{$blog.caption}"/>
        </div>
        <textarea name="content" id="content" class="mce_edit_panel" style="display: none;">{$blog.content}</textarea><br/>
        <div class="form-group">
            <label for="cover">封面图片<mark>比例为4:3</mark></label>
            <input type="file" class="form-control" id="cover" name="cover" />
        </div>
        <div style="text-align: center;">
            <img id="coverpreview" src="/{$blog.cover}" class="cover_preview"/>
        </div>

        <label class="checkbox-inline">
            <input class="pull-right" type="checkbox" id="publish" name="publish" {if condition="$blog.status eq '1'"}checked{/if}/>发布
        </label>
    </form>

    <button class="btn btn-info pull-right" id="btn_save">保存游记</button>
</div>
{/block}