{extend name="public:base"/}

{block name="title"}管理游记{/block}

{block name="tab"}manage_blog{/block}
{block name="header"}
<script type="text/javascript">
    $(function(){
        $(".delete-blog-link").click(function () {
            var id = $(this).parents('tr:first').find('td:first').text();
            row = $(this).parents('tr:first');
            $.ajax({
                url:'/admin/blog/deleteblog',
                method:'POST',
                data:{id:id},
                dataType:'json',
                success: function(data){
                    if(data.result == 0)
                    {
                        row.remove();
                    }
                    else
                    {
                        alert(data.message);
                    }
                },
                error:function(data) {
                    alert("厉害了，发生了一个一个内部错误");
                }
            })
        });
    })
</script>
{/block}
{block name="content"}
<div class="content">
    <ol class="breadcrumb"><li>管理游记</li></ol>
    <label class="text-info">当前一共有<strong>{$blogs|count}</strong>条游记 </label>
    <span class="text-info pull-right"><a href="/admin/blog/create">新建</a></span>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>标题</td>
            <td>状态</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>
        </thead>
        <tbody>
        {volist name="blogs" id="blog"}
        {if condition="$blog.status eq 0"}
        <tr class="">
            {else/}
        <tr class="success">
            {/if}

            <td>{$blog.id}</td>
            <td>{$blog.caption}</td>
            <td>
                {switch name="$blog.status"}
                {case value='0'}未发布{/case}
                {case value='1'}已发布{/case}
                {/switch}
            </td>
            <td><a href="/admin/blog/edit?id={$blog.id}"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td><a class="delete-blog-link" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>
{/block}