{extend name="public:base"/}

{block name="title"}
管理
{/block}

{block name="tab"}reset_password{/block}

{block name="header"}
<script>
    $(function(){
        $("#submit").click(function(e)
        {
            e.preventDefault();
            oldpassword = $("#oldpassword").val();
            if(oldpassword.length == 0)
            {
                showMessage("旧密码不能为空", 1);
                return;
            }

            newpassword1 = $("#newpassword1").val();
            newpassword2 = $("#newpassword2").val();
            if(newpassword1 != newpassword2)
            {
                showMessage("两次输入不匹配", 1);
                return;
            }

            if(newpassword1 == oldpassword)
            {
                showMessage("新旧密码不能相同", 1);
                return;
            }
            var data = new FormData($("#reset_password_form")[0]);

            $.ajax({
                url:"/admin/auth/setpassword",
                data: data,
                type: "POST",
                dataType: "json",
                contentType: false,
                processData: false,
                success:function(data)
                {
                    switch (data.result) {
                        case 0:
                            showMessage("密码已成功重置", 0);
                            break;
                        default:
                            showMessage(data.message, 1);
                            break;
                    }
                },
                error: function(data){
                    showMessage("重置失败", 1);
                }

            })
        });
    });
</script>
{/block}
{block name="content"}
<div class="content">
    <form id="reset_password_form">
        <div class="form-group">
            <label for="oldpassword">当前密码</label>
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="当前密码"/>
        </div>
        <div class="form-group">
            <label for="newpassword1">新密码</label>
            <input type="password" class="form-control" id="newpassword1" name="newpassword1" placeholder="新密码"/>
        </div>
        <div class="form-group">
            <label for="newpassword2">新密码（重复）</label>
            <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="新密码重复"/>
        </div>
        <button id="submit" class="btn btn-primary">提交</button>
    </form>
</div>
{/block}
